/* Общие стили */
.offer {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
}

/* Заголовок */
.offer-header {
    text-align: center;
    margin-bottom: 10px;
    color: black;
    height: 10%;
}

/*Основная часть объявления*/
.main-content {
    height: 70%;
    display: flex;
}

/* Карусель */
.vehicle-images {
    height: 100%;
    width: 50%;
    padding: 10px;
}

.slick-carousel {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.vehicle-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*Информационная секция*/
.info-section {
    height: 100%;
    width: 50%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/*Информация о владельце*/
.user-info {
    height: 50%;
    display: flex;
}

.user-details-info{
    width: 80%;
    height: 100%;
}

.user-avatar {
    border: 2px solid #ddd;
    height: 100%;
    width: 20%;
    border-radius: 50%;
    overflow: hidden;
}

.user-avatar img {
    width: 100%;
    height: 100%;

    object-fit:cover;
}

/*Информация о ТС*/
.vehicle-info {
    height: 50%;
}

/* Информация о машине 
.car-details {
    background-color: #c1e6c1;
    border-radius: 5px;
    padding: 10px;
}
*/
/* Описание */
/*.car-description {
    background-color: #d5f5d5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}*/

/* Цена */
/*.car-price {
    text-align: center;
    background-color: #d5f5d5;
    border-radius: 5px;
    padding: 10px;
}*/

/* Весь макет */
/*.info-section {
    display: flex;
}*/

