.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Устанавливаем минимальную высоту для центрирования по вертикали */
}

/* Стили для основного контейнера */
.main-window {
    justify-content: center;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 10px;
}

/* Стили для секции с информацией о пользователе */
.main-section {
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    flex: 1;  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Стили для аватара пользователя */
.user-avatar {
    width: 100%;
    height: auto; 
    object-fit: cover;
    border-radius: 5px; 
}

.additional-section {
    justify-content: center;
    align-items: center;
}
/* Стили для дополнительной секции */
.login-info {
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    flex: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.buttons-section {
    padding: 10px;
    margin: 40px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
    /* Стили для информации о пользователе */
    .main-section p,
    .login-info p {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
    }

/* Стили для кнопок */
.logout-button,
.delete-button {
    padding: 10px 20px;
    background-color: #ff4444;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .logout-button:hover,
    .delete-button:hover {
        background-color: #ff0000;
    }

/* Стили для жирного текста */
strong {
    font-weight: bold;
}
